button{
    background-color: rgb(104, 102, 241);
    margin-top: 20px;
    border-radius: 10px;
    height: 35px;
    width: 110px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
button:hover{
    background-color: blueviolet;
}